.slidepy-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slidepy-track {
  display: flex;
  transition: transform ease 0.3s;
}

.slidepy-slide {
  flex: 0 0 auto;
}

.slidepy-prev,
.slidepy-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background: rgb(0, 0, 0, 0.3);
}

.slidepy-prev {
  left: 10px;
}

.slidepy-next {
  right: 10px;
}
