.slidepy-wrapper {
  width: 100%;
  overflow: hidden;
}

.slidepy-content {
  position: relative;
}

.slidepy-track {
  display: flex;
}

.slidepy-slide {
  flex: 0 0 auto;
}

.slidepy-prev,
.slidepy-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background: rgb(0, 0, 0, 0.3);
}

.slidepy-prev {
  left: 10px;
}

.slidepy-next {
  right: 10px;
}

.slidepy-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.slidepy-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background: #ccc;
}

.slidepy-dot.active {
  background: #333;
}
